<footer class='eshop-footer'>
  <div class='eshop-footer-content'>
    <div class='eshop-footer-row'>
      <img role="presentation" src='images/logo-no-background.svg' class='logo logo-footer' />
           @* <img role="presentation" src='images/logo-footer.svg' class='logo logo-footer' /> *@
    </div>
  </div>
</footer>