@model RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>Būsite grąžintas į puslapį</h1>
        <p>Pabaigus, uždaryti</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
